<link rel="stylesheet" href="/css/channel.css">
<div class="container-full">
        <div class="col-lg-12 text-center v-center">
                <a class="thumbnail"><img src="<?=  $data['result']['image'] ?>" /></a> <br/>  <br/>
                <h2><?= $data['result']['title'] ?></h2>
                <p><strong>Description: </strong> <?= $data['result']['description'] ?><br/>
                <strong>Date: </strong> <?= date_format(date_create($data['result']['date']), 'Y-m-d') ?><br/>
                <div class="col-lg-12">
                    <i class="fas fa-users"></i></i> <span> Subscribers: <?= $data['result']['subscribers'] ?></span> 	&nbsp;	&nbsp;	&nbsp;
                    <i class="fas fa-thumbs-up"></i> <span> Likes: <?= $data['result']['votes'] ?></span>  	&nbsp;	&nbsp;	&nbsp;
                    <i class="fas fa-star"></i> <span> Rating: <?= $data['result']['rating'] ?></span>
                </div>
                <br/>
                <br/>
    </div> <!-- /row -->
    <br><br>
</div> <!-- /container full -->
<div class="container">
    <br/>
    <br/>
    <div class="row">
        <div class="container">
            <hgroup class="mb20">
                <h2>Episodes</h2>
                <h5 >Showing <strong><?= count($data['result']['episodes']) ?></strong> of  <?= $data['result']['show_count'] ?> </h5>
            </hgroup>
            <section class="col-xs-12 col-sm-6 col-md-12">
                <?php
                foreach ($data['result']['episodes'] as $episode){ ?>
                <hr>
                <article class="search-result row">
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <a class="thumbnail"><img src="<?=  $data['result']['image'] ?>" /></a>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-2">
                        <ul class="meta-search">
                            <li><i class="fas fa-calendar-alt"></i> <span><?= date_format(date_create($episode['date']), 'Y-m-d') ?></span></li>
                            <li><i class="fas fa-star"></i> <span><?= $episode['rating'] ?></span></li>
                            <li><i class="fas fa-thumbs-up"></i> <span><?= $episode['votes'] ?></span></li>
                            <li><i class="fas fa-download"></i> <span><?= round($episode['size']/1000000) ?> MB</span></li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
                        <h3><a href="/podcast/episode/<?= $episode['show_id'] ?>" title=""><?= $episode['title'] ?></a></h3>
                        <p><?= substr($episode['description'],0,200) ?>...</p>
                        <audio controls preload="none">
                            <source src="<?= $episode['media_link'] ?>" type="<?= $episode['mime_type'] ?>" >
                            Your browser does not support the audio element.
                        </audio>
                    </div>
                    <span class="clearfix borda"></span>
                </article>
                <?php } ?>
            </section>
        </div>
    </div><br/>
    </div><br/>
    </div><br/>
    <div class="text-center" > <strong>Copyright: </strong> <?= $data['result']['copyright'] ?> </div>
</div>

