<link rel="stylesheet" href="/css/channel.css">
<link rel="stylesheet" href="/css/search.css">
<div class="container-full">
    <div class="row">
        <div class="col-lg-12 text-center v-center">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 offset-2">
                        <h2>Search for Podcasts</h2>
                        <div id="imaginary_container">
                            <form method="get" action="/podcast/search">
                                <div class="input-group stylish-input-group input-append">
                                    <input type="text" name="q" class="form-control" placeholder="Search">
                                    <span class="input-group-addon">
                                    <button type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- /row -->
    <br><br><br><br><br>
</div>